@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,700;1,300&display=swap');

$mainColor: #5cb85c;
$mainText: rgba(0, 0, 0, .3);
$headerText: rgba(0, 0, 0, .8);
$mainTextActive: $headerText;
$articleBreakpoint: $mainText; 

$titillium: titillium web,sans-serif;
$sourceSansPro: source sans pro,sans-serif;;