* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: source sans pro, sans-serif;
}

.main-page {
  position: relative;
  width: 100%;
  min-height: 100vh;

  &__footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}