.home {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 5rem;

  &__content {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
  }

  &__main {
    display: flex;
    flex: 0 1 80%;
    // background-color: aqua;
    flex-direction: column;
  }
}
